apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: promtail
  namespace: flux-system
spec:
  interval: 5m
  url: oci://ghcr.io/grafana/helm-charts/promtail
  ref:
    tag: "6.17.1" # {"$imagepolicy": "flux-system:promtail:tag"}
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: promtail
  namespace: monitoring
spec:
  interval: 30m
  timeout: 30m
  chartRef:
    kind: OCIRepository
    name: promtail
    namespace: flux-system
  targetNamespace: monitoring
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    config:
      clients:
        - url: http://monitoring-loki.monitoring:3100/loki/api/v1/push
    resources:
      requests:
        cpu: 20m
        memory: 32Mi
      limits:
        cpu: 200m
        memory: 256Mi

