---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: wallabag

resources:
  - namespace.yaml
  - secrets.yaml
  - configmap.yaml
  - postgresql.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml


labels:
  - pairs:
      app.kubernetes.io/name: wallabag

