apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: wallabag-data
  namespace: wallabag
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: local-path

