---
apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage
  namespace: homepage
data:
  kubernetes.yaml: |
    mode: cluster
  settings.yaml: |
    showStatus: true
    statusStyle: "dot"
    disableCollapse: true
  custom.css: ""
  custom.js: ""
  bookmarks.yaml: ""
  services.yaml: |
    - My First Group:
        - My First Service:
            href: http://localhost/
            description: Homepage is awesome
  widgets.yaml: |
    - kubernetes:
        cluster:
          show: true
          cpu: true
          memory: true
          showLabel: true
          label: "cluster"
        nodes:
          show: true
          cpu: true
          memory: true
          showLabel: true
    - search:
        provider: custom
        url: https://ya.ru/search/?text=
        target: _blank
  docker.yaml: ""
