---
apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage
  namespace: homepage
data:
  kubernetes.yaml: |
    mode: cluster
    gateway: true
  settings.yaml: |
    showStats: false
    statusStyle: "basic"
    disableCollapse: true
  custom.css: ""
  custom.js: ""
  bookmarks.yaml: ""
  services.yaml: ""
  widgets.yaml: |
    - kubernetes:
        cluster:
          show: true
          cpu: true
          memory: true
          showLabel: true
          label: "cluster"
        nodes:
          show: true
          cpu: true
          memory: true
          showLabel: true
    - datetime:
        text_size: xl
        format:
          timeStyle: short
          hourCycle: h23
  docker.yaml: ""
