---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkding
  namespace: linkding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkding

  template:
    metadata:
      labels:
        app: linkding
        version: "1.44.1"

    spec:
      #      securityContext:
      #        runAsUser: 1000
      #        runAsGroup: 1000
      #        fsGroup: 1000

      containers:
        - name: linkding
          image: sissbruecker/linkding:1.44.1
          imagePullPolicy: IfNotPresent

          securityContext:
            allowPrivilegeEscalation: false

          envFrom:
            - configMapRef:
                name: linkding-configmap
            - secretRef:
                name: linkding-container-env

          ports:
            - containerPort: 9090
              protocol: TCP

          resources:
            requests:
              memory: 128Mi
              cpu: 32m
            limits:
              memory: 256Mi
              cpu: 256m

          readinessProbe:
            httpGet:
              path: /
              port: 9090
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 3
            failureThreshold: 6

          livenessProbe:
            httpGet:
              path: /
              port: 9090
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 3
            failureThreshold: 6
