---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: linkding-db
  namespace: linkding
spec:
  instances: 1

  storage:
    size: 2Gi
    storageClass: local-path

  resources:
      requests:
        cpu: "100m"
        memory: "256Mi"
      limits:
        cpu: "500m"
        memory: "512Mi"

  bootstrap:
    initdb:
      database: linkding
      owner: linkding
      secret:
        name: linkding-db-creds

  managed:
    roles:
      - name: linkding
        createdb: true
        login: true
        superuser: false
        createrole: false
        passwordSecret:
          name: linkding-db-creds
