---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-pvc
  namespace: immich
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: local-path

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-ml-pvc
  namespace: immich
spec:
  accessModes:
    - ReadWriteOnce # change to ReadWriteMany after tranfer to nfs
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-path

