name: YAML lint

on:
  push:
    branches: [ main ]
    paths:
      - "**/*.yml"
      - "**/*.yaml"
      - "!.github/**"
  pull_request:
    branches: [ main ]
    paths:
      - "**/*.yml"
      - "**/*.yaml"
      - "!.github/**"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  yamllint:
    name: yamllint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install yamllint
        run: |
          pip install yamllint

      - name: Run yamllint
        run: |
          yamllint .
