---
name: Update flux

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *"

permissions:
  contents: write
  pull-requests: write

jobs:
  components:
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub App token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_APP_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: ${{ steps.app-token.outputs.token }}

      - name: Setup Flux CLI
        uses: fluxcd/flux2/action@main

      - name: Check for updates
        id: update
        run: |
          flux install \
            --components-extra=image-reflector-controller,image-automation-controller \
            --export > ./clusters/flux-system/gotk-components.yaml

          VERSION="$(flux -v)"
          echo "flux_version=$VERSION" >> $GITHUB_OUTPUT

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ steps.app-token.outputs.token }}
          branch: update-flux
          committer: "podruchnik[bot] <podruchnik[bot]@users.noreply.github.com>"
          commit-message: "feat(ci): update flux to ${{ steps.update.outputs.flux_version }}"
          title: "feat(ci): update flux to ${{ steps.update.outputs.flux_version }}"
          body: |
            ${{ steps.update.outputs.flux_version }}
